@inject SignInManager<IdentityUser> signInManager;
@model IEnumerable<mentionIT.Models.Meal>

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "~/Views/Shared/_Homepage_Layout.cshtml";
}

<aside >
    @*<h3 style="margin-left:25%; font-style:italic">Incoming Content!</h3>
    <h5>Most Liked Meal</h5>
    <div class="w3-hide-small w3-card-2 grey-color w3-round" style="padding:16px;">
        <p>Meal Name</p>
        <img src="~/Images/NoImage.jpg" class="modal-content" id="myImg" style="width: 100%; max-width: 200px; max-height: 250px">
    </div>
    <h6>VISIT THE COLLEGE BEHIND THE WORKS!</h6>
    <a href="https://www.conestogac.on.ca/">Visit Conestoga College</a>
    <h7>Non enim praesent elementum facilisis. Facilisis volutpat est velit egestas dui id ornare. 
    Lobortis mattis aliquam faucibus purus. Volutpat consequat mauris nunc congue nisi vitae. Quis auctor elit sed vulputate. 
    Nisl nisi scelerisque eu ultrices vitae auctor eu. Imperdiet sed euismod nisi porta lorem. Sed faucibus turpis in eu mi bibendum neque. 
    Id eu nisl nunc mi. At erat pellentesque adipiscing commodo elit at imperdiet dui accumsan.
    Sed ullamcorper morbi tincidunt ornare massa eget egestas purus. Facilisis mauris sit amet massa vitae.
    Mauris a diam maecenas sed enim ut sem. Libero id faucibus nisl tincidunt. Et malesuada fames ac turpis egestas maecenas pharetra convallis. 
    Adipiscing enim eu turpis egestas pretium aenean pharetra magna ac. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. 
    Integer enim neque volutpat ac. Mi in nulla posuere sollicitudin aliquam ultrices sagittis. 
    Ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia. Dolor sed viverra ipsum nunc aliquet bibendum. 
    Nunc vel risus commodo viverra maecenas. Id velit ut tortor pretium viverra suspendisse potenti nullam.*@ 
    
    <div class="terms-card">

        <p style="margin-top:-5px;font-family: Source Sans Pro;font-style: normal;font-weight: bold;font-size: 28px;line-height: 15px;color:#282A35">Website News!</p>
        <p style="font-family: Source Sans Pro!important;font-style: normal;font-weight: bold;font-size: 16px;line-height: 16px;color:#282A35">Visit the College behind the works</p>
        <a href="https://www.conestogac.on.ca/" style="font-family: Source Sans Pro!important;font-style: normal;font-size: 16px;line-height: 16px;"> Visit Conestoga college</a>
        <img src="~/Images/ConestogaReference.jpg" />
        <h2 style="color:red">Full Time Programs</h2>
        <div class="feature-list">
            <ul class="checked-list">
                <li>Content</li>
                <li>Content</li>
                <li>Content</li>
                <li>Content</li>
                <li>Content</li>
                <li>Content</li>
                <li>Content</li>
                <li>Content</li>
                <li>Content</li>
                <li>Content</li>
                <li>Content</li>
                <li>Content</li>
                <li>Content</li>
                <li>Content</li>
                <li>Content</li>
                <li>Content</li>
                <li>Content</li>
                <li>Content</li>
                <li>Content</li>
                <li>Content</li>
                <li>Content</li>
                <li>Content</li>
                <li>Content :-}</li>
            </ul>
        </div>
        <a class="w3-bar-item w3-button ws-hover-green ws-green w3-block" id="planbox" style="margin-top:20px;font-weight:normal;font-size:18px;padding:12px 40px;border-radius:25px;" href="https://www.conestogac.on.ca/admissions" onclick="ga('send', 'event', 'Videos' , 'LandingMidButton');loginOrBuy();" title="Buy Now">Apply Now!</a>
        <br />
        <h4>Popular Meals</h4>
        <p>coming soon!</p>
    </div>
</aside>



<section>
    <div id="row1">
        @foreach (var item in Model)
        {
            <div class="w3-row w3-padding-32 ws-black" id="colum">
                <div class="w3-content" style="max-width:1400px">
                    <div class="w3-col auto" style="padding:3%">
                        <div class="w3-hide-small w3-card-2 grey-color w3-round" style="padding:16px;">
                            <h3> @Html.DisplayFor(modelItem => item.Name)</h3>
                            <div>
                                <!-- Trigger the Modal -->
                                @*<img id="myImg" src="img_snow.jpg" alt="Snow" style="width:100%;max-width:300px">*@
                                @if (item.MealImage == null)
                                {
                                <div class="con">
                                    <img src="~/Images/NoImage.jpg" class="modal-content" id="myImg" style="width: 100%; max-width: auto; max-height: auto">
                                    @if (!signInManager.IsSignedIn(User))
                                    {
                                        <a asp-controller="Accounts" asp-action="login"  class="bottom-left"><img src="~/Images/love.png" alt="like_img" width="40" height="40" /></a>
                                    }
                                    else
                                    {
                                        <a asp-action="Details" asp-controller="Meals" asp-route-id="@item.Id" asp-route-changeLikes="true" class="bottom-left"><img src="~/Images/love.png" alt="like_img" width="40" height="40" /></a>
                                    }
                                </div>
                                }
                                else
                                {
                            <div class="con">
                                <img src="~/ImageForMeals/@item.MealImage" class="modal-content" id="myImg" style="width: 100%; max-width: auto; max-height: auto">
                                @if (!signInManager.IsSignedIn(User))
                                {
                                    <a asp-controller="Accounts" asp-action="login" class="bottom-left"><img src="~/Images/love.png" alt="like_img" width="40" height="40" /></a>
                                }
                                else
                                {
                                    <a asp-action="Details" asp-controller="Meals" asp-route-id="@item.Id" asp-route-changeLikes="true" class="bottom-left"><img src="~/Images/love.png" alt="like_img" width="40" height="40" /></a>
                                }
                            </div>
                                }

                            </div>
                            <br />
                            <p style="font-family: Source Sans Pro!important;font-style: normal;font-weight: bold;font-size: 16px;line-height: 16px;color:#282A35"> Description for this recipe will be placed upon completion of this website. Please look forward for the updates!</p>
                            <div class="w3-code notranslate orangered-border">

                                @if (!signInManager.IsSignedIn(User))
                                {
                                    <a asp-controller="Accounts" asp-action="login" asp-route-id="@item.Id">Details</a>
                                }
                                else
                                {
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    <br />
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                }

                            </div>
                            <h6>Likes: @Html.DisplayFor(modelItem => item.Likes)</h6>
                            <h6>Author Name: @*@Html.DisplayFor(modelItem => item.Author)*@</h6>
                        </div>
                    </div>

                </div>
            </div>

        }

    </div>
    
</section>
